@model IEnumerable<SGVIAJES.DATA.Viaje>
@{
    ViewData["Title"] = "Lista de Viajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["Msj"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["Msj"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Viajes realizados.</h3>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Viajes">Agregar</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(v => v.NroViaje)</td>
                        <td>@Html.DisplayNameFor(v => v.FechaViaje)</td>
                        <td>@Html.DisplayNameFor(v => v.Empresa)</td>
                        <td>@Html.DisplayNameFor(v => v.Origen)</td>
                        <td>@Html.DisplayNameFor(v => v.Destino)</td>
                        <td>@Html.DisplayNameFor(v => v.KM)</td>
                        <td>@Html.DisplayNameFor(v => v.MinEsper)</td>
                        <td>@Html.DisplayNameFor(v => v.PeajeEst)</td>
                        <td>@Html.DisplayNameFor(v => v.GNC)</td>
                        <td>@Html.DisplayNameFor(v => v.Nafta)</td>
                        <td>@Html.DisplayNameFor(v => v.Importe)</td>
                        <td>@Html.DisplayNameFor(v => v.ImporteEsp)</td>
                        <td>@Html.DisplayNameFor(v => v.Total)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NroViaje</td>
                            <td>@item.FechaViaje</td>
                            <td>@item.Empresa</td>
                            <td>@item.Origen</td>
                            <td>@item.Destino</td>
                            <td>@item.KM</td>
                            <td>@item.MinEsper</td>
                            <td>@item.PeajeEst</td>
                            <td>@item.GNC</td>
                            <td>@item.Nafta</td>
                            <td>@item.Importe</td>
                            <td>@item.ImporteEsp</td>
                            <td>@item.Total</td>
                            <td>
                                <a asp-controller="Viajes" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                <a asp-controller="Viajes" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros para mostrar.</p>
        }
    </div>
</div>

